<div class="modal-header">
    <h5 class="modal-title">Code magasin : <strong>{{ticketReseau.codeMagasin}}</strong></h5>
</div>
<div class="modal-body">
    <table class="table display table-striped w-100">
        <thead>
            <tr role="row">
                <th class="text-center">Ticket n°</th>
                <th class="text-center">Code incident</th>
                <th class="text-center">Date création</th>
                <th class="text-center">Code magasin</th>
                <th class="text-center">Nom magasin</th>
                <th class="text-center">Type magasin</th>
            </tr>
        </thead>
        <tbody>
            {% for details in recurringStoreDetails %}
            <tr role="row">
                <td class="text-center">{{details.nTicket}}</td>
                <td class="text-center">{{details.codeIncident}}</td>
                <td class="text-center">{{details.dateCreation|date("d/m/Y")}}</td>
                <td class="text-center">{{details.codeMagasin}}</td>
                <td class="text-center">{{details.nomMagasin}}</td>
                <td class="text-center">{{details.typeMagasin}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
</div>