{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="content">
    <div class="row justify-content-center">
        <div class="login-box">
            <div class="card card-default">
                <div class="card-header text-center">
                    <h5>Besoin d'un nouvel utilisateur ?</h5>
                </div>
                <div class="card-body">
                    <p class="mb-10">Enregistrer un nouvel utilisateur</p>
                    {% for label, messages in app.flashes(['warning', 'danger', 'success', 'info', 'secondary']) %}
                        {% for message in messages %}
                            <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
                                <i class="fas fa-exclamation-triangle"></i> 
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <form action="{{ path('app_register') }}" method="post">
                        <div class="row">
                            <div class="input-group mb-3">
                                {{ form_widget(registerForm.id) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-id-card"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                {{ form_widget(registerForm.lastname) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                {{ form_widget(registerForm.firstname) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                {{ form_widget(registerForm.email) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                {{ form_widget(registerForm.password) }}
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-success btn-block" type="submit">
                                    Enregistrer
                                </button>
                            </div>
                        </div>
                        {{form_rest(registerForm)}}
                    </form>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>

{% endblock %}