<!-- modal to add comment to ticket -->
{{form_start(commentForm, {'action': path('no_incident_comment', {'id': ticketNoIncident.id})})}}
<div class="modal-header">
    <h5 class="modal-title">Ajout d'un commentaire au magasin <b>{{ticketNoIncident.codeMagasin}}</b></h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="form-group col-md-12">
            <label class="form-label">Merci de saisir votre commentaire : </label>
            {{form_widget(commentForm.commentaire)}}
            <span class="error text-danger">
                {{form_errors(commentForm.commentaire)}}
            </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Enregistrer</button>
</div>
{{form_end(commentForm)}}