{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascripts %}
    <!-- Manage DataTable tickets IBM -->
    <script src="{{ asset('dist/js/pages/ticket-ibm/manage-ibm.js')}}"></script>
	<!-- Recurring ibm tickets details -->
    <script src="{{ asset('dist/js/pages/recurring.js')}}"></script>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
		<!-- container-fluid -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h3 class="text-secondary">
						<i class="fas fa-tasks nav-icon"></i> Gestion des tickets IBM
					</h3>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- filter tickets -->
                <div class="col-md-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Filtrer les tickets IBM ouverts</h3>
                        </div>		
                        <div class="card-body">
                            <div class="row">
                                <!-- dd/mm/yyyy -->
                                <div class="form-group col-md-6">
                                    <label for="start">Date de début</label>
                                    <div class="input-group input-daterange">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control date-range-filter" placeholder="jj/mm/aaaa" name="min-date" id="min-date"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="end">Date de fin</label>
                                    <div class="input-group input-daterange">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="jj/mm/aaaa" name="max-date" id="max-date"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="col-sm-8 justify-content-evenly">
                                        <div class="row justify-content-between">
                                            <label for="impact">Impact</label>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radio" name="impact" value="High">
                                                <label for="high">Elevé</label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radio" name="impact" value="Medium">
                                                <label for="medium">Moyen</label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radio" name="impact" value="Low">
                                                <label for="low">Faible</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 justify-content-evenly">
                                        <div class="row justify-content-between">
                                            <label for="urgence">Urgence</label>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radio" name="urgence" value="High">
                                                <label for="high">Elevé</label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radio" name="urgence" value="Medium">
                                                <label for="medium">Moyen</label>
                                            </div>
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radio" name="urgence" value="Low">
                                                <label for="low">Faible</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="relances">Nombre de relances des incidents ( supérieur à )</label>
                                    <select id="relances" data-default-value="" class="form-control">
                                        <option value="" selected="selected">--- Séléctionnez ---</option>
                                        {% for i in 0..10 %}
                                            <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <button type="button" id="filter" class="btn btn-info">Filtrer</button>
                                    <button type="button" id="reset" class="btn btn-default">Réinitialiser</button>
                                </div>
                                <div class="error col-md-12"></div>
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>
                </div> 
                <!-- /.card -->
            </div>
            <!-- Liste of all ticket -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-success">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Tickets IBM ouverts</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12">
                                <table id="tabticketsibm" class="table display table-striped w-100">
                                    <thead>
                                        <tr role="row">
                                            <th class="text-center">N° incident</th>
                                            <th class="text-center">Date affectation</th>
                                            <th class="text-center">Date création</th>
                                            <th class="text-center">Description incident</th>
                                            <th class="text-center">Etat incident</th>
                                            <th class="text-center">Impact</th>
                                            <th class="text-center">Urgence</th>
                                            <th class="text-center">Priorité</th>
                                            <th class="text-center">Nombre de relances</th>
                                            <th class="text-center">Incident affecté à</th>
                                            <th class="text-center">N° tâche</th>
                                            <th class="text-center">Tâche affecté à</th>
                                            <th class="text-center">Sujet tâche</th>
                                            <th class="text-center">Détails tâche</th>
                                            <th class="text-center">Type equipement</th>
                                            <th class="text-center">Type logiciel</th>
                                            <th class="text-center">Nom equipement</th>
                                            <th class="text-center">Code magasin</th>
                                            <th class="text-center">Nom magasin</th>
                                            <th class="text-center">Type magasin</th>
                                            <th class="text-center">Historique</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ticket in recurringTickets %}
                                        <tr>
                                            <td class="text-center">{{ticket.i_nIncident}}</td> 
                                            <td class="text-center">{{ticket.i_dateAffectation|date("d/m/Y")}}</td>
                                            <td class="text-center">{{ticket.i_dateCreation|date("d/m/Y")}}</td>
                                            <td class="text-center">{{ticket.i_description}}</td>
                                            <td class="text-center">{{ticket.i_etatIncident}}</td>
                                            <td class="text-center">{{ticket.i_impact}}</td>
                                            <td class="text-center">{{ticket.i_urgence}}</td>
                                            <td class="text-center">{{ticket.i_priorite}}</td>
                                            <td class="text-center">{{ticket.i_nbRelances}}</td>
                                            <td class="text-center">{{ticket.i_incidentAffectedAt}}</td>
                                            <td class="text-center">{{ticket.i_nTache}}</td>
                                            <td class="text-center">{{ticket.i_tacheAffectedAt}}</td>
                                            <td class="text-center">{{ticket.i_sujetTache}}</td>
                                            <td class="text-center">{{ticket.i_detailsTache}}</td>
                                            <td class="text-center">{{ticket.i_typeEquipement}}</td>
                                            <td class="text-center">{{ticket.i_typeLogiciel}}</td>
                                            <td class="text-center">{{ticket.i_nomEquipement}}</td>
                                            <td class="text-center">{{ticket.i_codeMagasin}}</td>
                                            <td class="text-center">{{ticket.i_nomMagasin}}</td>
                                            <td class="text-center">{{ticket.i_typeMagasin}}</td>
                                            {% if ticket.nbIncident > 1 %}
                                                <td class="text-center">
                                                    <a class="modal-recurring btn btn-info" href="#recurringDetails" data-target="{{path('ibm_recurring_details', {'nIncident': ticket.i_nIncident})}}" data-toggle="modal" role="button">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <div id="recurringDetails" class="modal" tabindex="-1" role="dialog">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-default" disabled>
                                                        <i class="far fa-eye-slash"></i>
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
{% endblock %}
