{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block javascripts %}
    <!-- Datepicker configuration -->
    <script src="{{ asset('dist/js/pages/datepicker.js')}}"></script>
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
		<!-- container-fluid -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<h3 class="text-secondary">
						<i class="fas fa-upload nav-icon"></i> Mettre à jour les tickets IBM
					</h3>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-container card-outline card-primary">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Tickets IBM Ouverts (Fichier Excel)</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body card-content">
                            <form method="post" id="excel-form">
                                <input type="file" name="excel-file" id="excel-file">
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.card -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-container card-outline card-primary">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Dernière mise à jour</h3>
                        </div>
                        <!-- /.card-header -->
                        {% if lastUpdatedDate[0]["maxDate"] is same as("now"|date("d/m/Y")) %}
                        <div class="card-body card-content bg-danger d-flex">
                            <h2 class="m-auto">
                                <b>{{"now"|date("d/m/Y")}}</b>
                            </h2>
                        </div>
                        {% else %}
                        <div class="card-body card-content bg-info d-flex">
                            <h2 class="m-auto">
                                <b>{{lastUpdatedDate[0]["maxDate"]}}</b>
                            </h2>
                        </div>
                        {% endif %}
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <div class="container-fluid">
		    <!-- ****** by days ******** -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-danger d-flex">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Tickets IBM dernière semaine</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="small-box six-days">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{sixDays|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>6 jours</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_days', {'id': 6})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box five-days">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{fiveDays|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>5 jours</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_days', {'id': 5})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box four-days">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{fourDays|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>4 jours</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_days', {'id': 4})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box three-days">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{threeDays|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>3 jours</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_days', {'id': 3})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box two-days">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{twoDays|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>2 jours</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_days', {'id': 2})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box yesterday">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{yesterday|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>Hier</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_days', {'id': 1})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****** by weeks ******* -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-warning d-flex">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Tickets IBM dernier mois</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="small-box three-weeks">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{threeWeeks|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>3 semaines</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_weeks', {'id1': 20, 'id2' : 27})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box two-weeks">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{twoWeeks|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>2 semaines</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_weeks', {'id1': 13, 'id2' : 20})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="small-box one-week">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{oneWeek|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>1 semaine</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_weeks', {'id1': 6, 'id2' : 13})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****** more than one month ******* -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-outline card-info d-flex">
                        <div class="card-header d-flex">
                            <h3 class="card-title m-auto">Tickets IBM plus d'un mois</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 m-auto">
                                    <div class="small-box plus-month">
                                        <div class="inner">
                                            <div class="infos">
                                                <h3>{{moreOneMonth|length}}</h3>
                                                <p class="txt-info">Tickets ouverts depuis</p>  
                                            </div>
                                            <h3>+1 mois</h3>
                                        </div>
                                        <a class="small-box-footer" href="{{path('ibm_details_months', {'id': 27})}}" role="button">
                                            Détails <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
{% endblock %}
